name: "s3"

x-lockdown: &lockdown
  # prevents write access to the image itself
  read_only: true
  # prevents any process within the container to gain more privileges
  security_opt:
    - "no-new-privileges=true"

services:    
  minio:
    # for more information about this image checkout:
    # https://github.com/11notes/docker-minio
    image: "11notes/minio:2025.10.15"
    hostname: "minio"
    <<: *lockdown
    environment:
      TZ: "Europe/Zurich"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
    # in stand-alone (no disks) simply use /mnt as your command
    # then mount any volume to /mnt to store your data
    command: "/mnt"
    ports:
      - "3000:9001/tcp"
      - "9000:9000/tcp"
    volumes:
      - "minio.var:/mnt"
    networks:
      backend:
    restart: "always"

  mc:
    depends_on:
      minio:
        condition: "service_healthy"
        restart: true
    image: "11notes/mc:2025.08.13"
    <<: *lockdown
    environment:
      TZ: "Europe/Zurich"
      MC_MINIO_URL: "https://minio:9000"
      MC_MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
      MC_INSECURE: true
    command:
      - ready minio
      - mb --ignore-existing minio/default
    volumes:
      - "mc.etc:/mc/etc"
    networks:
      backend:
    restart: "no"

volumes:
  minio.var:
  mc.etc:

networks:
  frontend:
  backend:
    internal: true